/* 哔哔主页相关 */
#bbTimeList {
  position: relative;
  top: -5px;
  border: 2px solid #56585d;
  width: 100%;
  align-items: center;
  height: 50px;
  font-size: 1.5rem;
}


#bbTimeList:hover {
  border: 2px solid linear-gradient(#5ddcff, #3c67e3 43%, #4e00c2) !important;
}


#bbtalk {
  width: 100%;
  font-size: 1.5rem;
}

#bber>section>ul>div>li>div .datacont {
  color: #6667AB !important
}

ul,
li {
  list-style: none;
  display: block;
  margin: 0;
  padding: 0;
}

.cneter-title {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

#projectInfo {
  display: flex;
  justify-content: center;
  align-items: center;
}

#projectInfo img {
  height: 100px;
}