@property --rotate {
  syntax: "<angle>";
  initial-value: 132deg;
  inherits: false;
}
.bbTimeList.container {
  background-color: red;
  width: 100%;
}

.myCard::before {
  content: "";
  width: 104%;
  height: 102%;
  border-radius: 8px;
  background-image: linear-gradient(
    var(--rotate)
    , #5ddcff, #3c67e3 43%, #4e00c2);
    position: absolute;
    z-index: -1;
    top: -1%;
    left: -2%;
    animation: spin 2.5s linear infinite;
}

.myCard::after {
  position: absolute;
  content: "";
  top: calc(var(--card-height) / 6);
  left: 0;
  right: 0;
  z-index: -1;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  transform: scale(0.8);
  filter: blur(calc(var(--card-height) / 6));
  background-image: linear-gradient(
    var(--rotate)
    , #5ddcff, #3c67e3 43%, #4e00c2);
    opacity: 1;
  transition: opacity .5s;
  animation: spin 2.5s linear infinite;
}


@keyframes spin {
  0% {
    --rotate: 0deg;
  }

  100% {
    --rotate: 360deg;
  }
}

/* 哔哔主页相关 */
#bbTimeList {
  width: 100%;          /* 框不全 */
  border: 2px solid #9c9;
  align-items: center; /* 图标不居中 */ /* 其它方法#bbTimeList加一个声明justify-content: space-between; */
}
#bbtalk {
  width: 100%;     /* 内容与图标不局中 */
}
#bber > section > ul > div > li > div .datacont{
  color: #6667AB !important
}

ul,li{
  list-style:none;
  display:block;
  margin: 0;
  padding: 0;
}